body, html {
  height: 100%;
  margin: 0;
}

.owner-butt {
  position: absolute;
  top: 20px;
  right: 20px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100%;
  flex: 1 1 auto;
  display: flex;
}

.background {
  display: flex;
  background-image: url("./images/background.jpg");
  width: 100%;
  height: 50vh;
  min-height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;

}

.nft-wrapper {
  margin: 100px auto 0;
  display: block;
  position: relative;
}

.nft {

}

.art-header {
  color: white;
}

.info-container {
  min-width: 300px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: space-around;
  margin: 0 10%;
}

.content{
  background: #2B2B2B;
}

.content-container{
}

.collectors-edition {
  color: white;
  background: #c13847;
  margin-bottom: 50px;
}

.wip {
  display: block;
  position: relative;
  width: 100%;
}

.artist-message-title {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 10px;
}

.artist-message {
  font-size: 1rem;
  color: white;
  margin-bottom: 50px;
}

.nft-message-title {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 10px;
}

.nft-owner-message {
  color: white;
  margin-bottom: 30px;
}

.qr-message-title {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 10px;
}

.qr-message {
  color: white;
  margin-bottom: 30px;
}
