body, html {
  height: 100%;
  margin: 0;
}

.background {
  display: flex;
  background-image: url("./images/background.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  .art-image {
  }
}

.art-header {
  color: white;
}

.info-container {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: space-around;
  margin: 0 auto;
}

.collectors-edition {
  color: white;
  margin-bottom: 50px;
}

.gif {
  background-image: url("./images/showcase.gif");
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.artist-message-title {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 10px;
}

.artist-message {
  font-size: 1rem;
  color: white;
  margin-bottom: 50px;
}

.nft-message-title {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 10px;
}

.nft-owner-message {
  color: white;
  margin-bottom: 30px;
}

.qr-message-title {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 10px;
}

.qr-message {
  color: white;
  margin-bottom: 30px;
}
